.login_block {
	padding: 20px 15px 0 15px;
	line-height: 1.428571;
}

.fb_login a {
    border-radius: 2.5px;
    border: none;
    box-sizing: border-box;
    background-color: #3B5998;
    color: white;
    box-shadow: 0 0 0 1px #D9D9D9;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.fb_login a:hover {
    text-decoration: none;
    background-color: #3B5998;
    color: #fff;
}
hr {
	border-top-color: #ccc;
}

.origin_div , .or {
    margin-top: 30px;
    margin-bottom: 30px;
}

.origin_text {
    color: #404040;
    width: 80px;
    font-weight: 200;
    font-size: 16px;
    margin: -32px auto 0 auto;
    background-color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.login_block .login_form label {
    font-size: 15px;
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.login_block .login_form input {
    padding: 13px 11px;
    height: 42px;
}

.login_block .login_form .btn_group .button {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    border: none;
    border-radius: 3px;
	padding: 6px 12px;
    width: 100%;
    text-align: center;
	text-decoration: none;
}

.login_block .login_form .btn_group a.signup_btn{
    background-color: #69a74e;
	color:GhostWhite;
	border: 1px solid #69a74e;
}

.login_block .login_form .btn_group a.signup_btn:hover {
	background-color: GhostWhite;
	color:#69a74e;
	border: 1px solid #69a74e;
}

.login_block .login_form .btn_group button.login_btn {
    color: GhostWhite;
	background-color: #0066ff;
	border: 1px solid #0066ff;
}

.login_block .login_form .btn_group button.login_btn:hover {
	background-color: GhostWhite;
	color:#0066ff;
	border: 1px solid #0066ff;
}

.login_block .login_form .reset_password {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
}
